{% extends 'clothes.html' %}

{%block title %}
Обувь
{% endblock %}

{%block content %}
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 20px;">
    {% for item in shoes_list %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src={{item.path_img}} class="card-img-top" alt="обувь">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p>{{item.price}}</p>
                <a href="#" class="btn btn-primary">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}